<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
	</head>
	<body>
		<img id="cat" src="../static/Images/cat.png">
		<img id="lw" src="../static/Images/loading_wheel.gif">
		<button id="fade">fade</button>
		<button id="show">show</button
		<h1> not quite... </h1>
		<script>
			$("#fade").click(function(){
				$("#cat").fadeout(1600,"linear",complete);
				$("#lw").fadeOut(1600, complete);
			});
			$("#show").click(function(){
				$("img").show();
			});
		</script>
	</body>
</html>

